<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
          <link rel="icon" href="./img/weather.png">
        <link rel="stylesheet", href="./css/style.css">
    </head>
<body>
    <div class="main-content">
    {{!-- to load  partial in view this is the format >with partial filename without extension 
    and the path because we have already set the path whgile configuring hbs for partials  --}}
{{>header}}

<p>This site was created by Priya Agarwal. It uses data from weatherstack.com and positionstack.com!!</p>

<img class="potrait"src="./img/priya.jpeg">

</div>
{{!-- <h1>Created by: {{name}}</h1> --}}
{{>footer}}
</body>
</html>